@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@700&display=swap");
.nav {
  display: flex;
  width: 100%;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: "#23856D";
}

.nav h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.nav .fone {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.nav .f_nav {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-family: "Montserrat", sans-serif;
}

.nav .email {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 0.7rem;
}

.nav .mid_ {
  width: Hug (332px);
  height: Hug (44px);
  padding: 10px;
  gap: 10px;
}

.nav .l_nav {
  width: Hug (233px);
  height: Fixed (46px);
  padding: 10px;
  gap: 10px;
}

.nav .s_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sec_nav h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.sec_nav .brand {
  width: 187px;
  height: 58px;
  left: 38px;
  padding: 13px, 79px, 13px, 0px;
  gap: 10px;
}

.sec_nav {
  width: 100%;
  height: 58px;
  top: 70px;
  padding: 0px, 17px, 0px, 38px;
  border-radius: 34px;
  gap: 324px;
}
.sec_nav .navbar-nav {
  width: Hug (361px);
  height: Hug (25px);
  top: 16.5px;
  gap: 15px;
}

.sec_nav .navbar-nav li {
  width: 43px;
  height: 24px;
}

.sec_nav .navbar-nav ul {
  width: Hug (361px);
  height: Hug (25px);
  top: 16.5px;
  gap: 15px;
  display: flex;
  align-items: center;
  list-style: none;
}

.sec_nav .navbar-nav ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  text-decoration: none;
}

.sec_nav .sec_sec_nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  /* width: 70%; */
  margin: auto;
  flex-wrap: wrap;
}

.sec_nav .sec_sec_nav .dropDwn {
  width: 63px;
  height: 25px;
  padding: 0px, 0px, 0px, 6px;
  gap: 47px;
}

.sec_nav .sec_sec_nav .dropDwn img {
  width: 5.71px;
  height: 10px;
  top: 10px;
  left: 63px;
  angle: -90 deg;
}

.sec_nav .sec_sec_nav ul p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}




ul {
  list-style: none;
}

.third_div .navbar-tav .btn-32 {
  width: Hug (166px);
  height: Hug (54px);
  padding: 15px;
  border-radius: 37px;
  gap: 5px;
}
.third_div .navbar-tav img {
  width: 12px;
  height: 12px;
  background-color: #23a6f0;
}
.btn-32 p {
  color: #23a6f0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.third_nav .navbar-tav ul{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.third_nav .navbar-tav ul .btn-32{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:1rem;
}

.container {
  display: flex;
  width: 1124px;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.row {
  display: flex;
  width: 692px;
  flex-direction: column;
  align-items: center;
}
.main-content {
  display: flex;
  width: 691px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-content h2 {
  color: #737373;
  text-align: center;

  /* h4 */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

.main-content h3 {
  color: #252b42;
  text-align: center;

  /* h3 */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}

.main-content p {
  color: #737373;
  text-align: center;

  /* paragraph */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.desktop-shop-cards-22 {
  display: flex;
  height: 784px;
  padding: 4px 147px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.desktop-shop-cards-22 .container {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-shop-cards-22 .container .row {
  display: flex;
  width: 1146px;
  align-items: flex-start;
  gap: 15px;
}
.desktop-shop-cards-22 .container .row .col-md-4 {
  display: flex;
  width: 452px;
  height: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.desktop-shop-cards-22 .container .row .col-md-4 .card-item {
  display: flex;
  width: 452px;
  height: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.desktop-shop-cards-22 .container .row .card-item .bg-cover {
  background: url(../../../images/card-cover-5.jpg),
    lightgray 50% / cover no-repeat;

  width: 452px;
  height: 616px;
  flex-shrink: 0;
}

.desktop-shop-cards-22 .container .col-md-4 .card-item .card-content {
  display: flex;
  width: 452px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.desktop-shop-cards-22 .container .card-item .card-content h6 {
  color: #2dc071;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.desktop-shop-cards-22 .container .card-item .card-content h6:nth-child(2) {
  color: #252b42;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.desktop-shop-cards-22 .container .card-item .card-content h2 {
  color: var #252b42;

  /* h2 */
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 0.2px;
}

.over_container {
  width: 75%;
  margin: auto;
  margin-top: 10rem;
}

.over_container .card-content h6 {
  color: #2dc071;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.over_container .card-item .card-content h6:nth-child(2) {
  color: #252b42;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.over_container .sub_over .card-item .card-content h6:last-child {
  color: #252b42;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.over_container .sub_over .card-item-sm .card-content h6:last-child {
  color: #252b42;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.over_container .card-item .card-content {
  display: flex;
  width: 452px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.over_container .card-content h6:nth-child(2) {
  color: #252b42;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.over_container .card-content h2 {
  color: var #252b42;

  /* h2 */
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 0.2px;
}

.sub_over .card-item .bg-cover {
  background: url(../../../images/card-cover-5.jpg),
    lightgray 50% / cover no-repeat;

  width: 452px;
  height: 616px;
  flex-shrink: 0;
}

.sub_over .col-md-4 {
  display: flex;
  width: 30%;
  height: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sub_over .col-md-8 {
  display: flex;
  width: 50%;
  height: 616px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}

.sub_over .fd {
  width: 100%;
}
.sub_over .col-md-8 .card-item .bg-cover {
  background: url(../../../images/card-cover-6.jpg), lightgray 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 300px;
  width: 700px;
}

.l_div {
  display: flex;
  gap: 2rem;
}

.sub_over .card-item-sm {
  display: flex;
  width: 331px;
  height: 300px;
  flex-shrink: 0;
  background: url(../../../images/card-cover-61.jpg), lightgray 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub_over .smm {
  background: url(../../../images/card-cover-7.jpg), lightgray 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.over_container .card-item-sm .card-content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.sub_over {
  display: flex;
  gap: 9rem;
  width: 80%;
  margin: auto;
}

.desktop-product-cards-21 {
  display: flex;
  padding: 0px 121px 0px 195px;
  justify-content: center;
  align-items: center;
  background-color: "#fff";
}
.desktop-product-cards-21 .row_1 {
  display: flex;
  width: 1115px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.desktop-product-cards-21 .row_1 .products {
  display: flex;
  width: 1092px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.desktop-product-cards-21 .row_1 .products .tab-content {
  display: flex;
  width: 1092px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
}
.desktop-product-cards-21 .row_1 .tab-one {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.desktop-product-cards-21 .row_1 .products .row_2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.desktop-product-cards-21 .products .col-md-3 {
  display: flex;
  width: 183px;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-product-cards-21 .products .col-md-3 .product-card {
  display: flex;
  width: 183px;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-product-cards-21 .products .col-md-3 .img_div {
  width: 183px;
  height: 238px;
  flex-shrink: 0;
}
.desktop-product-cards-21 .products .col-md-3 .frame {
  display: flex;
  padding: 25px 25px 35px 25px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.desktop-product-cards-21 .products .col-md-3 .frame h5 {
  width: 131px;
  color: var(--text-color, #252b42);
  text-align: center;

font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

.desktop-product-cards-21 .products .col-md-3 .frame a {
  color: var(--second-text-color, #737373);
  text-align: center;

  /* link */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  text-decoration: none;
}

.btnMd {
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color, #23a6f0);
}
.btnMd p {
  color: var(--primary-color, #23a6f0);
  text-align: center;

  /* btn-text */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
}

.desktop-product-cards-21 .row_2 .prices {
  display: flex;
  padding: 5px 3px;
  align-items: flex-start;
  gap: 5px;
}

.desktop-product-cards-21 .row_2 .prices h5 {
  color: var(--muted-color, #bdbdbd);
  text-align: center;

  /* h5 */
font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  width: 52px;
}

.desktop-product-cards-21 .row_2 .prices h5:last-child {
  color: var(--secondary-color-1, #23856d);
  text-align: center;

  /* h5 */
font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  width: 45px;
}

.desktop-features {
  display: flex;
  margin: auto;

  width: 1440px;
  padding: 0px 195px 16px 195px;
  justify-content: center;
  align-items: center;
  background: var(--light-background-color, #fff);
}
.desktop-features .container {
  display: flex;
  width: 1050px;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-shrink: 0;
}

.desktop-features .row {
  display: flex;
  width: 692px;
  flex-direction: column;
  align-items: center;
}

.desktop-features .main-content {
  display: flex;
  width: 691px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.desktop-features .main-content h2 {
  color: #737373;
  text-align: center;

  /* h4 */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

.desktop-features .main-content h3 {
  color: #252b42;
  text-align: center;

  /* h3 */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}

.desktop-features .main-content p {
  color: #737373;
  text-align: center;

  /* paragraph */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.desktop-features .roww {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.desktop-features .roww .col-md-4 {
  display: flex;
  width: 328px;
  flex-direction: column;
  align-items: center;
}

.desktop-features .roww .card {
  display: flex;
  padding: 35px 40px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.desktop-features .roww .icon_img {
  display: flex;
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
}
.desktop-features .roww h3 {
  width: 235px;
  color: var(--text-color, #252b42);
  text-align: center;

  /* h3 */
font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}

.desktop-features .roww p {
  width: 225px;
  color: var(--second-text-color, #737373);
  text-align: center;

  /* paragraph */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.desktop-blog-3{
  display: flex;
width: 1440px;
padding: 0px 195px;
justify-content: center;
align-items: center;
background: var(--light-background-color, #FFF);
margin: auto;
}
.desktop-blog-3 .container{
  display: flex;
width: 1050px;
padding: 112px 0px;
flex-direction: column;
align-items: center;
gap: 80px;
flex-shrink: 0;
}

.desktop-blog-3 .container .row{
  display: flex;
width: 692px;
flex-direction: column;
align-items: center;
}

.desktop-blog-3 .container .main-content {
  display: flex;
  width: 691px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.desktop-blog-3 .container .main-content h6{
  color: var(--primary-text-color, #23A6F0);
text-align: center;

/* h6 */
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}


.desktop-blog-3 .container .main-content h3{
  color: var(--text-color, #252B42);
  text-align: center;
  
  /* h2 */
font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 0.2px;
}

.desktop-blog-3 .container .row_Fp{
  display: flex;
justify-content: center;
align-items: flex-start;
gap: 30px;
}

.desktop-blog-3 .container .col-md-4{
  display: flex;
width: 328px;
flex-direction: column;
align-items: center;
}

.desktop-blog-3 .container .content-card{
  display: flex;
width: 348px;
flex-direction: column;
align-items: flex-start;
background: var(--light-background-color, #FFF);

/* light-drop-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.desktop-blog-3 .container .fixed_height{
  width: 348px;
  height: 300px;
  flex-shrink: 0;
align-self: stretch;
background: url(/images/unsplash_hHdHCfAifHU.png);
}
.desktop-blog-3 .container .fr_1{
  width: 348px;
  height: 300px;
  flex-shrink: 0;
align-self: stretch;
background: url(/images/unsplash_tVEqStC2uz8.png);
}
.desktop-blog-3 .container .fr_2{
  width: 348px;
  height: 300px;
  flex-shrink: 0;
align-self: stretch;
background: url(/images/unsplash_dEGu-oCuB1Y.png);
}
.desktop-blog-3 .container  .tag{
  display: inline-flex;
padding: 0px 10px;
align-items: center;
border-radius: 3px;
background: var(--danger-color, #E74040);

/* light-drop-shadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.desktop-blog-3 p{
  color: var(--light-text-color, #FFF);
text-align: center;

font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.desktop-blog-3 .frame{
  display: flex;
padding: 25px 25px 35px 25px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.desktop-blog-3 .frame .tags{
  display: flex;
align-items: center;
gap: 15px;
}

.desktop-blog-3 .frame .tags small{
  color: var(--second-text-color, #737373);

  /* small */
font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.2px;
}

.desktop-blog-3 .frame .tags small:first-child{
  color: var(--disabled-element-color, #8EC2F2);

/* small */
font-family: "Montserrat", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.2px;
}

.desktop-blog-3 .frame h4{
  width: 247px;
  color: var(--text-color, #252B42);

/* h4 */
font-family: "Montserrat", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
}

.desktop-blog-3 .frame p{
  width: 280px;
  color: var(--second-text-color, #737373);

  /* paragraph */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.desktop-blog-3 .frame .frame_1{
  display: flex;
padding: 15px 0px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.desktop-blog-3 .frame .frame_1 .frame_11{
  display: flex;
  align-items: center;
  gap: 5px;
}
.desktop-blog-3 .frame .frame_11 .icon_akh{
  display: flex;
width: 16px;
height: 16px;
justify-content: center;
align-items: center;
}

.desktop-blog-3 .frame .frame_11 small{
  color: var(--second-text-color, #737373);

font-family: "Montserrat", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.2px;
}

.desktop-blog-3 .frame .frame_1 .frame_12{
  display: flex;
align-items: center;
gap: 5px;
}

.desktop-blog-3 .frame_1 .frame_12 small{
  color: var(--second-text-color, #737373);

/* small */
font-family: "Montserrat", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.2px;
}

.desktop-testimonials-6{
  display: flex;
padding: 0px 195px 0px 117px;
align-items: center;
align-self: stretch;
margin: auto;
justify-content: center;

}
.desktop-testimonials-6 .container{
  display: flex;
width: 1128px;
padding: 80px 0px;
flex-direction: column;
align-items: flex-start;
}

.desktop-testimonials-6 .container .row{
  display: flex;
width: 1128px;
padding: 48px;
justify-content: space-between;
align-items: center;
flex-direction: row;
}

.desktop-testimonials-6 .container .col-md-5{
  display: flex;
width: 438px;
flex-direction: column;
align-items: center;
gap: 28px;
flex-shrink: 0;

}

.desktop-testimonials-6 .container .col-md-5 h6{
  color: var(--text-color, #252B42);
text-align: center;

/* h3 */
font-family: "Montserrat", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: 0.1px;
}
.desktop-testimonials-6 .container .col-md-5 .card_item{
  display: flex;
width: 446px;
padding: 30px 35px;
justify-content: center;
align-items: flex-start;
border-radius: 5px;
background: var(--light-background-color, #FFF);
}

.desktop-testimonials-6 .card_content{
  display: flex;
width: 442px;
flex-direction: column;
align-items: center;
gap: 20px;
flex-shrink: 0;
}
.desktop-testimonials-6 .col-md-5 .card_content .media_cirdle{
  display: flex;
width: 90px;
height: 90px;
justify-content: center;
align-items: center;
}
.desktop-testimonials-6 .card-content .stars{
  display: flex;
align-items: flex-start;
gap: 5px;
}

.desktop-testimonials-6 .card_content p{
  width: 451px;
  color: var(--second-text-color, #737373);
text-align: center;

/* h6 */
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}

.desktop-testimonials-6 .card_content .ddiv {
  display: flex;
flex-direction: column;
align-items: center;
}

.desktop-testimonials-6 .ddiv p:first-child{
  color: var(--primary-color, #23A6F0);
text-align: center;

/* link */
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}

.desktop-testimonials-6 .ddiv p:last-child{
  color: var(--text-color, #252B42);
  text-align: center;
  
  /* h6 */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.desktop-testimonials-6 .container .row .col-md-3{
  display: flex;
width: 464px;
height: 426px;
flex-direction: row;
align-items: flex-start;
gap: 15px;
flex-shrink: 0;
}

.desktop-testimonials-6 .row .col-md-3 .frame{
  /* width: 464px; */
height: 460.034px;
flex-shrink: 0;
display: flex;
/* gap: .3rem; */
flex-direction: column;
/* flex-wrap: wrap; */
/* background-color: red; */

}
.desktop-testimonials-6 .row .col-md-3 .frame_2{

flex-shrink: 0;
display: flex;
flex-direction: column;
}

.desktop-testimonials-6 .row .col-md-3 .frame_3{

flex-shrink: 0;
display: flex;
flex-direction: column;
}

.desktop-testimonials-6 .row .col-md-3 .frame .fr_1{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_0y8p69vwIYM.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame .fr_2{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_ah7yIXWrtKs.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame .fr_3{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_6_dx4H4yi1Y.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_2 .fr_4{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_GHztzvLLOdQ.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_2 .fr_5{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_UUTOuXqaExk.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_2 .fr_6{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_rhn8ff1G_QY.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_3 .fr_7{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_jo40QKbxUP0.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_3 .fr_8{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_QLGA5Zv3doo.png);
}
.desktop-testimonials-6 .row .col-md-3 .frame_3 .fr_9{
  width: 142.769px;
  height: 142.769px;
  flex-shrink: 0;
  background: url(/public/images/unsplash_1R1ecHV4i0Y.png);
}

.desktop-octa-8{
  height: 640px;
align-self: stretch;
background: var(--light-background-color, #FFF);
width: 100%;
}

.desktop-octa-8 .background{
  display: flex;
width: 1440px;
height: 640px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: url(/public/images/unsplash_XEmaJaM-4nE.png);
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.desktop-octa-8 .container{
  display: flex;
width: 1050px;
padding: 160px 0px 112px 0px;
flex-direction: column;
align-items: center;
gap: 24px;
}

.desktop-octa-8 .container .row{
  display: flex;
width: 607px;
flex-direction: column;
align-items: center;
gap: 36px;
}
.desktop-octa-8 .container .row .main-content{
  display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.desktop-octa-8 .container .row .main-content h2{
  color: var(--text-color, #252B42);
  text-align: center;
  
  /* h2 */
font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 0.2px;
}

.desktop-octa-8 .container .row .main-content h2:first-child{
  color: var(--primary-text-color, #23A6F0);
  text-align: center;
  
  /* h6 */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.desktop-octa-8 .container .main-content p{
  width: 447px;
  color: var(--second-text-color, #737373);
text-align: center;

/* paragraph */
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}

.desktop-octa-8 .container .main-content .prices{
  display: flex;
padding: 0px 3px;
align-items: flex-start;
gap: 5px;
}
.desktop-octa-8 .container .main-content .prices h5{
  color: var(--secondary-color-1, #23856D);
  text-align: center;
  
  /* h3 */
font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
}


.desktop-octa-8 .container .main-content .btn_cta{
  display: flex;
align-items: flex-start;
gap: 10px;
}

.desktop-octa-8 .container .main-content .btn_cta .btn_md{
  display: flex;
height: 52px;
padding: 15px 40px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--primary-color, #23A6F0);
}

.desktop-octa-8 .container .main-content .btn_cta .btn_md p{
  color: var(--light-text-color, #FFF);
  text-align: center;
  
  /* btn-text */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
}

.destop-footer{
  height: 488px;
align-self: stretch;
background: var(--light-text-color, #FFF);
}
.destop-footer .diiv{
  display: flex;
width: 100%;
padding: 0px 195px 4px 195px;
justify-content: center;
align-items: center;
background: var(--light-gray-1, #FAFAFA);
}

.destop-footer .diiv .container{
  display: flex;
width: 1050px;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
}

.destop-footer .diiv .container .row{
  display: flex;
align-items: center;
gap: 577.5px;
flex-direction: row;
justify-content: 'center';
}

.destop-footer hr{
  width: 1057px;
height: 1px;
background: #E6E6E6;
margin: auto;
}

.destop-footer .diiv .container .row .col-md-3{
  display: flex;
  width: 236px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.destop-footer .row .col-md-3 .navbar_brand{
  display: flex;
padding: 13px 73px 13px 0px;
align-items: center;
}

.destop-footer .row .navbar_brand p{
  color: var(--text-color, #252B42);

/* h3 */
font-family: "Montserrat", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: 0.1px;
}

.destop-footer .diiv .container .row .ccol-md-3{
  display: flex;
  width: 236px;
  flex-direction: column;
  align-items: center;
}

.destop-footer .diiv .container .row .ccol-md-3 .social_media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.destop-footer .social_media .social_media_icon{
  display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
}
.destop-footer .diivv{
  display: flex;
  width: 1440px;
  padding: 0px 195px 2px 195px;
  justify-content: center;
  align-items: center;
}

.destop-footer .diivv .containerr{
  display: flex;
  width: 1050px;
  padding: 50px 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.destop-footer .diivv .containerr .rrow{
  display: flex;
align-items: flex-start;
gap: 30px;
}

.destop-footer .diivv .containerr .rrow .col-md-2{
  display: flex;
  width: 148px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.destop-footer .col-md-2 h5{
  color: var(--text-color, #252B42);

/* h5 */
font-family: "Montserrat", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}

.destop-footer .col-md-2 .divq{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.destop-footer .col-md-2 .divq a{
  color: var(--second-text-color, #737373);

  /* link */
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  text-decoration: none;
}

.destop-footer .rrow .col-md-4{
  display: flex;
width: 321px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.destop-footer .rrow .col-md-4 h5{
  color: var(--text-color, #252B42);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.destop-footer .rrow .col-md-4 .custom-form{
  width: 321px;
  height: 87px;
}

.destop-footer .rrow .col-md-4 .custom-form .input_grp{
  width: 321px;
  height: 58px;
  flex-shrink: 0;
}
.custom-form .ii_ggrp{
  display: flex;
width: 321px;
padding: 15px 224px 15px 20px;
align-items: center;
border-radius: 5px;
border: 1px solid #E6E6E6;
background: #F9F9F9;
}

.custom-form input{
  border-radius: 5px;
border: 1px solid #E6E6E6;
background: #F9F9F9;
width: 321px;

color: var(--second-text-color, #737373);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
letter-spacing: 0.2px;
}

.custom-form .input_append{
  display: flex;
width: 117px;
height: 58px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.input_append .bttn{
  display: flex;
width: 117px;
height: 58px;
padding: 15px 22.5px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 0px 5px 5px 0px;
border: 1px solid #E6E6E6;
background: var(--primary-color, #23A6F0);
}

.input_append .bttn p{
  color: var(--light-text-color, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
letter-spacing: 0.2px;
}

.destop-footer .col-md-4 p{
  color: var(--second-text-color, #737373);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 233.333% */
letter-spacing: 0.2px;
}

.destop-footer .ddiivv{
  display: flex;
width: 100%;
padding: 0px 195px;
justify-content: center;
align-items: center;
background: #FAFAFA;
}
.destop-footer .ddiivv .container{
  display: flex;
width: 1050px;
padding: 25px 0px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
}

.destop-footer .ddiivv .row{
  display: flex;
align-items: center;
gap: 213px;
}

.destop-footer .ddiivv .col-md-7{
  display: flex;
width: 600px;
flex-direction: column;
align-items: flex-start;
}

.destop-footer .ddiivv p{
  color: var(--second-text-color, #737373);

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}

.product_page .container{
  display: flex;
width: 1440px;
padding: 24px 0px;
flex-direction: column;
align-items: center;
background: var(--light-gray-1, #FAFAFA);
}

.product_page .container .row{
  display: flex;
width: 1033px;
align-items: center;
gap: 30px;
}

.product_page .container .row .col-md-6{
  display: flex;
width: 509px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
flex-shrink: 0;
}
.product_page .container .row .col-md-6 .bread_cum{
  display: flex;
padding: 10px 0px;
align-items: center;
gap: 15px;
}

.product_page .container .bread_cum a{
  color: var(--text-color, #252B42);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.product_page .container .bread_cum h6{
  color: var(--muted-text-color, #BDBDBD);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.2px;
}

.product_page .desktop-products-card-42{
  display: flex;
padding: 0px 195px;
justify-content: center;
align-items: center;
align-self: stretch;
background: #FAFAFA;
}
.product_page .desktop-products-card-42 .container{
  display: flex;
padding-bottom: 48px;
flex-direction: column;
align-items: flex-start;
}

.product_page .desktop-products-card-42 .container .row{
  display: flex;
align-items: flex-start;
gap: 30px;
}

.product_page .desktop-products-card-42 .container .row .col-md-6{
  display: flex;
padding: 0px 4px 4px 0px;
flex-direction: column;
align-items: center;
}
.product_page .desktop-products-card-42 .row .carousel_2{
  width: 506px;
height: 546px;
border-radius: 5px;
}

.product_page .desktop-products-card-42 .carousel_2 .carousel_indicator{
  display: flex;
width: 219px;
height: 75px;
justify-content: center;
align-items: flex-start;
gap: 19px;
flex-shrink: 0;
}
.product_page .desktop-products-card-42 .carousel_captions{
  width: 100px;
  height: 75px;
}

.product_page .desktop-products-card-42 .carousel_captions img{
  width: 100%;
  height: 100%;
}
/* } */
/* .product_page .desktop-products-card-42 .row .carousel_2 .carousel_inner{ */
  /* width: 506px; */
  /* height: 450px; */
  /* flex-shrink: 0; */
/* } */
/*  */
/* .product_page .desktop-products-card-42 .row .carousel_2 .carousel_inner .carousel_item{ */
  /* width: 506px; */
  /* height: 450px; */
  /* flex-shrink: 0; */
/* } */
/*  */
/* .product_page .desktop-products-card-42 .carousel_2 .carousel_indicator{ */
  /* display: flex; */
/* width: 219px; */
/* height: 75px; */
/* justify-content: center; */
/* align-items: flex-start; */
/* gap: 19px; */
/* flex-shrink: 0; */
/* } */
/*  */
/* .product_page .desktop-products-card-42 .carousel_2 .carousel_indicator .carousel_captions{ */
  /* display: flex; */
  /* width: 100px; */
  /* height: 75px; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-shrink: 0; */

}