@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general_container {
  width: 100% !important;
}
.navBar {
  width: 100% !important;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1841px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }
  .sub_over .col-md-4 .bg-cover {
    width: 100%;
  }

  .sub_over .col-md-8 {
    display: flex;
    width: 50%;
    align-items: flex-start;
  }
  .sub_over .col-md-8 .bg-cover {
    width: 610px !important;
    height: 300px;
  }

  .l_div {
    display: block;
    display: flex;
    width: 450px;
    flex-direction: row;
    gap: 0.8rem;
  }
  .l_div .card-item-sm {
    width: 300px;
  }
  .l_div .smm {
    width: 300px !important;
  }
}

@media screen and (max-width: 1734px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }
  .sub_over .col-md-4 .bg-cover {
    width: 100%;
  }

  .sub_over .col-md-8 {
    display: flex;
    width: 50%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1734px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1308px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    width: 100%;
  }
}

@media screen and (max-width: 1162px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    width: 100%;
  }
  .sub_over .col-md-8 {
    display: flex;
    width: 60%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1104px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    width: 100%;
  }

  .sub_over .col-md-8 .bg-cover {
    width: 558px !important;
    height: 300px;
  }

  .l_div .card-item-sm {
    width: 270px;
  }
  .l_div .smm {
    width: 270px !important;
  }
}

@media screen and (max-width: 1012px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    width: 90%;
  }

  .sub_over .col-md-8 .bg-cover {
    width: 480px !important;
    height: 300px;
  }

  .l_div .card-item-sm {
    width: 260px;
  }
  .l_div .smm {
    width: 260px !important;
  }
  .product_page .desktop-products-card-42 .container .row {
    display: flex ;
    align-items: flex-start;
    gap: 13rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .product_page .desktop-products-card-42 .col-md-6{
    width: 100% !important;
    height: 500px !important;
  }
.product_page .desktop-products-card-42 .col-md-6_2 {
    width: 100% !important;
    height: 500px !important;


}
}

@media screen and (max-width: 1002px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 70%;
    margin: auto;
  }

  .sub_over .col-md-8 .bg-cover {
    width: 480px !important;
    height: 300px;
  }

  .l_div .card-item-sm {
    width: 230px;
  }
  .l_div .smm {
    width: 230px !important;
  }
}
@media screen and (max-width: 962px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 70%;
    margin: auto;
  }

  .sub_over .col-md-8 .bg-cover {
    width: 100% !important;
    height: 300px;
  }

  .l_div .card-item-sm {
    width: 100%;
  }
  .l_div .smm {
    display: none;
  }
}

@media only screen and (max-width: 920) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 70%;
    margin: auto;
  }

  .sub_over .col-md-8 .bg-cover {
    width: 100% !important;
    height: 300px;
  }

  .l_div .card-item-sm {
    width: 100%;
  }
}

@media screen and (max-width: 906px) {
  .tab-content {
    width: 40% !important;
    margin: auto;
  }
  .mid_{
    display: none;
  }
  .l_nav h6{
    display: none;
  }
  .desktop-product-cards-21 .row_2 {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .desktop-product-cards-21 .products .col-md-3 {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
  }
  .desktop-product-cards-21 .products .col-md-3 .product-card {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
  }
  .desktop-product-cards-21 .products .col-md-3 .img_div {
    width: 400px;
    height: 350px;
    flex-shrink: 0;
  }
  .desktop-product-cards-21 .products .col-md-3 img {
    width: 100%;
    height: 100%;
  }

  .desktop-features {
    width: 100%;
  }
  .desktop-features .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .desktop-features .container .roww {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .desktop-blog-3 {
    width: 100%;
  }
  .desktop-blog-3 .row_Fp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desktop-testimonials-6 {
    width: 500px !important;
    margin: auto;
  }
  .desktop-testimonials-6 .container {
    width: 100% !important;
  }
  .desktop-testimonials-6 .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    gap: 1rem;
  }
  .desktop-testimonials-6 .row .card_content .ppp {
    width: 60%;
    text-align: center;
  }
  .desktop-octa-8 {
    width: 100%;
  }
  .desktop-octa-8 .container .row .main-content h2 {
    color: var(--text-color, #252b42);
    text-align: center;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  .desktop-octa-8 .container .main-content .pe {
    width: 49%;
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .destop-footer {
    width: 100%;
  }
  .destop-footer .diiv .row {
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    gap: 1rem !important;
    width: 100%;
  }
  .destop-footer .diivv {
    width: 100% !important;
  }
  .destop-footer .diivv .container {
    width: 100% !important;
  }
  .destop-footer .diivv .rrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 78%;
    margin: auto;
  }
  .destop-footer .ddiivv .row {
    width: 100%;
    /* margin: auto; */
    /* text-align: center; */
    display: flex;
  }
  .destop-footer .ddiivv .col-md-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 880px) {
  .sub_over {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 8rem;
  }
  .sub_over .col-md-4 .bg-cover {
    width: 90%;
  }

  .product_page .desktop-products-card-42 .container .row {
    display: flex ;
    align-items: flex-start;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .product_page .desktop-products-card-42 .col-md-6{
    width: 100% !important;
    height: 500px !important;
  }
.product_page .desktop-products-card-42 .col-md-6_2 {
    width: 100% !important;
    height: 500px !important;


}
}

@media screen and (max-width:745px) {
    .mobile {
        display: block;
        margin-top: 1rem;
      }
      
    
      .navBar .nav {
        display: none;
      }
      .sec_nav .sec_sec_nav {
        display: none;
      }
      .head_icons,
      .head_tab {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
  
      .mobile{
        margin-bottom: -7rem;
      }
    
      .head_icons {
        gap: 1rem;
      }
      .mobile_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        gap: 1rem;
      }
    
      .mobile_nav ul li {
        color: var(--second-text-color, #737373);
        text-align: center;
    
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.2px;
      }
    
      .mobile_nav a {
        text-decoration: none;
      }

      .product_page {
        margin-top: 4.5rem;
        width: 100%;
      }
      .product_page .desktop-products-card-42{

        width: 100%;
      }
      .product_page .desktop-products-card-42 .container  {
        width: 800px;
      }

        .product_page .desktop-products-card-42 .container .row {
        display: flex ;
        align-items: flex-start;
        gap: 9rem;
        flex-direction: column;
        width: 600px;
       
        height: 100%;
      }


      .product_page .desktop-products-card-42 .col-md-6{
        width: 100% !important;
        height: 500px !important;
      }
    .product_page .desktop-products-card-42 .col-md-6_2 {
        width: 100% !important;
        height: 500px !important;
    
    
    }
}

@media screen and (max-width: 596px) {
  .general_container {
    width: 100% !important;
    overflow-x: hidden;
  }
  .mobile {
    display: block;
    margin-top: 1rem;
  }
  .navBar .nav {
    display: none;
  }
  .sec_nav .sec_sec_nav {
    display: none;
  }
  .head_icons,
  .head_tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .head_icons {
    gap: 1rem;
  }
  .mobile_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
  }

  .mobile_nav ul li {
    color: var(--second-text-color, #737373);
    text-align: center;

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2px;
  }

  .mobile_nav a {
    text-decoration: none;
  }

  .over_container {
    width: 100%;
  }

  .sub_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 1600px; */
    gap: 1rem;
    /* flex-wrap: wrap; */
    margin: auto;
    width: 100%;
  }
  .mobile{
    margin-bottom: -17rem;
  }


  .l_div .smm {
    display: block;
  }

  .sub_over .col-md-4 {
    width: 20% !important;
  }
  .sub_over .col-md-4 .bg-cover {
    width: 100%;
    height: 300px;
  }


  .sub_over .col-md-8 {
    display: block;
    display: flex;
    width: 80%;
    /* margin: auto; */
  }
  .sub_over .col-md-8 .bg-cover {
    width: 100% !important;
    height: 300px;
  }

  .l_div {
    display: block;
    display: flex;
    width: 450px;
    flex-direction: column;
    /* overflow: hidden; */
  }
  .l_div .card-item-sm {
    width: 100%;
    height: 300px;
  }
  .l_div .smm {
    width: 100% !important;
    height: 300px;
  }

  .desktop-product-cards-21 .tab-content .row_2 {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desktop-product-cards-21 .products .col-md-3 {
    width: 100%;
  }
  .desktop-features {
    width: 100%;
  }
  .desktop-features .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-features .container .roww {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .desktop-blog-3 {
    width: 100%;
  }
  .desktop-blog-3 .row_Fp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desktop-testimonials-6 {
    width: 100%;
  }

  .desktop-testimonials-6 .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }
  .destop-footer {
    width: 100%;
  }
  .destop-footer .diiv .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    width: 100%;
  }

  .destop-footer hr {
    display: none;
  }

  .destop-footer .diivv {
    width: 100% !important;
  }

  .destop-footer .diivv .container {
    width: 100% !important;
  }
  .destop-footer .diivv .rrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 45%;
    margin: auto;
  }
  .destop-footer .ddiivv .row {
    width: 100%;
  }
  .destop-footer .ddiivv .col-md-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 468px) {
  .general_container {
    width: 100% !important;
    overflow-x: hidden;
  }

  .over_container {
    width: 100%;
  }

  .sub_over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1600px;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .sub_over .col-md-4 .bg-cover {
    width: 350px;
    height: 300px;
  }

  .sub_over .col-md-8 {
    display: block;
    display: flex;
  }
  .sub_over .col-md-8 .bg-cover {
    width: 350px !important;
    height: 300px;
  }

  .l_div {
    display: block;
    display: flex;
    width: 350px;
    flex-direction: column;
  }
  .l_div .card-item-sm {
    width: 350px;
    height: 300px;
  }
  .l_div .smm {
    width: 350px !important;
    height: 300px;
  }

  .desktop-product-cards-21 {
    width: 100%;
  }
  .desktop-product-cards-21 .container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 450px !important;
  }

  .desktop-product-cards-21 .container .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 60% !important;
    margin: auto;
  }

  .desktop-product-cards-21 .container .row .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .desktop-product-cards-21 .tab-content .row_2 {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desktop-product-cards-21 .products .col-md-3 {
    width: 300px;
    margin: auto;
  }

  .desktop-product-cards-21 .row_1 .products {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .desktop-product-cards-21 .products .col-md-3 .product-card {
    width: 300px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .desktop-product-cards-21 .products .col-md-3 .img_div {
    width: 100%;
    height: 238px;
    flex-shrink: 0;
  }

  .desktop-product-cards-21 .products .col-md-3 img {
    width: 100%;
    height: 100%;
  }
  .desktop-features {
    width: 100%;
  }
  .desktop-features .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-features .container .roww {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .desktop-blog-3 {
    width: 100%;
  }
  .desktop-blog-3 .row_Fp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desktop-testimonials-6 {
    width: 500px !important;
    margin: auto;
  }

  .desktop-testimonials-6 .container {
    width: 100% !important;
  }

  .desktop-testimonials-6 .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    gap: 1rem;
  }

  .desktop-testimonials-6 .row .card_content .ppp {
    width: 60%;
    text-align: center;
  }

  .desktop-octa-8 {
    width: 100%;
  }

  .desktop-octa-8 .container .row .main-content h2 {
    color: var(--text-color, #252b42);
    text-align: center;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }

  .desktop-octa-8 .container .main-content .pe {
    width: 49%;
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .destop-footer {
    width: 100%;
  }
  .destop-footer .diiv .row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    width: 100%;
  }

  .destop-footer .diivv {
    width: 100% !important;
  }

  .destop-footer .diivv .container {
    width: 100% !important;
  }
  .destop-footer .diivv .rrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 38%;
    margin: auto;
  }
  .destop-footer .ddiivv .row {
    width: 20%;
    margin: auto;
    text-align: center;
  }
  .destop-footer .ddiivv .col-md-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}
